<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <thead>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Carne</th>
            <th>Carrera</th>
        </thead>

        <th:block th:each="estudiante, row: ${estudiantes}">

            <tr>
                <th th:text="${estudiante.c_usuario}"></th>
                <th th:text="${estudiante.nombre}"></th>
                <th th:text="${estudiante.apellido}"></th>
                <th th:text="${estudiante.carne}"></th>
                <th th:text="${estudiante.carrera}"></th>
            </tr>

        </th:block>
    </table>

    <a href="/ingresar">Regresar</a>
</body>

</html>